.navbar-brand{
    font-size:2em ;
    font-weight: bold;
    font-family: 'Ubuntu' sans-serif;
}
/* change navigation color */
.navbar #myMenu .custom-nav .nav-item a{
    color: #FFF;
}
.navbar #myMenu .custom-nav .nav-item a:hover{
    color: rgb(98, 8, 110);
}

/* make header image responsive */
.back-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 70vh;
    border-radius: 0px;
    margin-top: 74px;
    color: orange
}
.st{
    font-size: 24px;
}
a{
    color: red;
}
a:hover{
    color: blue;
}